<style type="text/css">
    input[type=text] {
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        padding: 10px;
        width: 95%;
    }

    /* When the input field gets focus, change its width to 100% */
    input[type=text]:focus {
        width: 95%;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h2>Search Modules from Online </h2>
        </div>
    </div>
    <div class="panel-body" ng-hide="isDownloading && isUploading">
        <form style="margin-bottom: 15px;">
            <input type="text" name="search" placeholder="Search Modules.." ng-model="searchText"
                   ng-change="change(text)"/>
        </form>
        <table ng-if="moduleFound==true">
            <tr>
                <th> Name</th>
                <th> Version</th>
                <th> Discription</th>
                <th style="min-width: 120px;"> Action</th>
            </tr>
            <tbody>
            <tr ng-repeat="module in modules">
                <td>
                    <a href="#/view-search-module-details/{{module.uid}}">
                        {{module.name}}
                    </a>
                </td>
                <td> {{module.latestVersion}}</td>
                <td> {{module.description}}</td>
                <td>
                    <a href="#/view-search-module-details/{{module.uid}}">
                        <button><i class="icon-list-alt"> </i> View</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="alert alert-info text-center" ng-if="moduleFound==false && !isSearching">
            No Modules found.
        </div>
        <div class="col-md-3 col-xs-3 text-center center-block" ng-show="isSearching">
            <img src="img/inprogress.gif">
        </div>
        <div class="center-block" style="text-align: center; padding-top: 15px;">
            Module Information from <a href="https://addons.openmrs.org/"> https://addons.openmrs.org/ </a>
        </div>
    </div>

    <ng-include src="'js/common/loadingPopUp.html'"></ng-include>

</div>