<style type="text/css">
    table {
        width: 100%;
    }

    tr td {
        word-wrap: break-word;
    }

    .module-search-box {
        width: 100%;
        color: #363463;
        display: block;
        padding: 5px 10px;
        margin: 0;
        margin-top: 5px;
        margin-bottom: 10px;
        background-color: #FFF;
        border: 1px solid #dddddd;
    }
    /*style="word-wrap:break-word"*/
</style>

<div data-ng-init="compareVersion()"></div>

<div class="container" data-ng-init="getAllModuleDetails()">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h2>Manage Module</h2>
        </div>
    </div>


    <!--Module Action-->

    <div class="alert alert-success alert-dismissable" ng-show="startModuleSuccess">
        <a class="close" data-dismiss="alert" aria-label="close">×</a>
        {{startModuleSuccess}}
    </div>

    <div class="alert alert-success alert-dismissable" ng-show="stopModuleSuccess">
        <a class="close" data-dismiss="alert" aria-label="close">×</a>
        {{stopModuleSuccess}}
    </div>

    <div class="alert alert-danger alert-dismissable" ng-show="startModuleError">
        <a class="close" data-dismiss="alert" aria-label="close">×</a>
        {{startModuleError}}
    </div>

    <div class="alert alert-success alert-dismissable" ng-show="unloadModuleSuccess">
        <a class="close" data-dismiss="alert" aria-label="close">×</a>
        {{unloadModuleSuccess}}
    </div>

    <div class="alert alert-danger alert-dismissable" ng-show="unloadModuleError">
        <a class="close" data-dismiss="alert" aria-label="close">×</a>
        {{unloadModuleError}}
    </div>
    <!--//Module Action-->

    <!--Module Action    -->


    <div class="alert alert-success alert-dismissable" ng-show="startAllModuleSuccess">
        <a class="close" data-dismiss="alert" aria-label="close">×</a>
        {{startAllModuleSuccess}}
    </div>

    <div class="alert alert-danger alert-dismissable" ng-show="startAllModuleError">
        <a class="close" data-dismiss="alert" aria-label="close">×</a>
        {{startAllModuleError}}
    </div>
    <!-- //Module Action    -->


    <div class="row col-12">
        <div class="panel-body" ng-disabled="isStartAllModules" style="width:100%; padding: 0px;" ng-class="{'disabled': disableExpression}">

            <div style="padding-bottom: 10px;">
                <a href="#/upload-module">
                    <button><i class="icon-plus"> </i> Add/Upgrade Modules</button>
                </a>
                <a href="#/view-search">
                    <button><i class="icon-search"> </i> Search Modules</button>
                </a>
                <a href="#/check-for-module-updates">
                    <button><i class="icon-repeat"> </i> Check for Updates</button>
                </a>

                <a href="" style="float: right;">
                    <button ng-click='StartAllModules()'><i class="icon-play"> </i> Start All</button>
                </a>

            </div>
            
            <div class="col-12">
                <input class="module-search-box" type="text" name="search" placeholder="Search Modules.." ng-model="moduleSearchText"
                       ng-change="moduleNameSearch()"/>
            </div>

            <div class="alert alert-info" ng-if="AllModuleViewData.length == 0" style="text-align:center;">
                No module found.
            </div>

            <table class="layout display responsive-table" ng-if="AllModuleViewData.length > 0">
                <tbody>
                <tr>
                    <th style="min-width: 40px;"> Status</th>
                    <th> Name</th>
                    <th> Author</th>
                    <th style="min-width: 60px;"> Version</th>
                    <th> Description</th>
                    <th style="min-width: 190px;"> Actions</th>
                </tr>

                <tr ng-repeat="class in AllModuleViewData">
                    <td valign="top" style="max-width: 30px; text-align: center;">
                        <img src="img/running-module.png" ng-if="class.started == true" height="20"
                             style="top: 5px;left: auto;"/>
                        <img src="img/stopped-module.png" ng-if="class.started != true" height="20"
                             style="top: 5px;left: auto;"/>
                    </td>
                    <td valign="top">
                        <a href="#/module-show/{{class.uuid}}">{{class.display}}</a>
                    </td>
                    <td valign="top">{{class.author}}</td>
                    <td valign="top" style="max-width: 60px;">{{class.version}}</td>
                    <td valign="top">{{class.description}}</td>

                    <td valign="top" align="center" valign="middle" style="vertical-align:middle;">
                        <button ng-click="stopConfirmationShow(class.packageName,class.uuid, class.display)"
                                ng-if="class.started == true" style="width: 100px;"><img src="img/stop-new-1.png"/>Stop
                        </button>
                        <button ng-click="StartModule(class.uuid,'ALLMODULES', class.display)"
                                ng-if="class.started != true" style="width: 100px;"><img src="img/start-new-1.png"/>Start
                        </button>

                        <button class="btn btn-danger"
                                ng-click="unloadConfirmationShow(class.packageName, class.uuid, class.display)"><i
                                class="icon-trash"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>


<div class="modal fade" id="deleteConfirmation" aria-labelledby="deleteConfirmation" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Do you want to delete {{uploadConfirmModuleData.moduleDisplayName}}?</h5>
            </div>
            <form>
                <div class="modal-body">
                    <div class="row" ng-hide="uploadConfirmModuleData.requiredModules">
                        <div class="col-md-12 col-xs-12 text-center center-block">
                            <img src="img/inprogress.gif">
                        </div>
                    </div>
                    <p>
                        <b ng-if="uploadConfirmModuleData.requiredModules.length>0">It will stop the following modules
                            which are currently loaded.</b>
                        <b ng-if="uploadConfirmModuleData.requiredModules.length<1">There are no modules that depend on
                            this. So stopping it will not affect any module.</b>
                    </p>
                    <ul class="list-group" ng-show="uploadConfirmModuleData">
                        <li class="list-group-item"
                            ng-repeat="requiredModules in uploadConfirmModuleData.requiredModules"><i
                                class="icon-exclamation-sign"> </i> {{requiredModules}}
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger"
                            ng-click="unloadModule(uploadConfirmModuleData.uuid, uploadConfirmModuleData.moduleDisplayName)"
                            data-dismiss="modal"><i class="icon-ok"></i> Yes
                    </button>
                    <button class=" btn-secondary" data-dismiss="modal"><i class="icon-remove"> </i> No</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="stopConfirmation" aria-labelledby="stopConfirmation" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Do you want to stop {{stopConfirmModuleData.moduleDisplayName}}?</h5>
            </div>
            <form>
                <div class="modal-body">
                    <div class="row" ng-hide="stopConfirmModuleData.requiredModules">
                        <div class="col-md-12 col-xs-12 text-center center-block">
                            <img src="img/inprogress.gif">
                        </div>
                    </div>
                    <p>
                        <b ng-if="stopConfirmModuleData.requiredModules.length>0">It will stop the following modules
                            which are currently loaded.</b>
                        <b ng-if="stopConfirmModuleData.requiredModules.length<1">There are no modules that depend on
                            this. So stopping it will not affect any module.</b>
                    </p>
                    <ul class="list-group" ng-show="stopConfirmModuleData">
                        <li class="list-group-item"
                            ng-repeat="requiredModules in stopConfirmModuleData.requiredModules"><i
                                class="icon-exclamation-sign"> </i> {{requiredModules}}
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger"
                            ng-click="StopModule(stopConfirmModuleData.uuid,'ALLMODULES', stopConfirmModuleData.moduleDisplayName)"
                            data-dismiss="modal"><i class="icon-ok"> </i> Yes
                    </button>
                    <button class=" btn-secondary" data-dismiss="modal"><i class="icon-remove"> </i> No</button>
                </div>
            </form>
        </div>
    </div>
</div>

<ng-include src="'js/common/loadingPopUp.html'"></ng-include>

<style>
    button {
        postion: relative;
        text-align: right;
        vertical-align: middle;
    }

    button img {
        position: relative;
        padding-right: 7px;
        vertical-align: middle;
        display: inline-block;

    }
</style>
