<div class="container" data-ng-init="getModuleViewDetails()">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h2>Module Information</h2>
        </div>
    </div>


    <!--Module Action-->
    <div class="alert alert-success alert-dismissable" ng-show="startModuleSuccess">
        <a class="close" data-dismiss="alert" aria-label="close">×</a>
        {{startModuleSuccess}}
    </div>
    <div class="alert alert-success alert-dismissable" ng-show="stopModuleSuccess">
        <a class="close" data-dismiss="alert" aria-label="close">×</a>
        {{stopModuleSuccess}}
    </div>

    <div class="alert alert-danger alert-dismissable" ng-show="startModuleError">
        <a class="close" data-dismiss="alert" aria-label="close">×</a>
        {{startModuleError}}
    </div>
    <!--Module Action-->

    <!--    Module update-->
    <div class="alert alert-success alert-dismissable" ng-if="moduleNewUpdateFound==1">
        <a class="close" data-dismiss="alert" aria-label="close">×</a>
        Newest version of this module is avialable for upgrade!
        <button ng-click="updateModule(ModuleViewData.uuid, moduleUpdateURL)" ng-show="moduleUpdateURL" style="margin-left:15px;"><i
                class="icon-upload"> </i> Update
        </button>
    </div>

    <div class="alert alert-info alert-dismissable" ng-show="moduleNewUpdateFound==-1">
        <a class="close" data-dismiss="alert" aria-label="close">×</a>
        Module version is upto date. No updates found!
    </div>
    <!--    // Module update-->

    <!--    Module Upgrade Notifications-->
    <div class="alert alert-success alert-dismissable" ng-show="SEARCH_MODULE_DOWNLOADED_INSTALLED">
        <a class="close" data-dismiss="alert" aria-label="close">×</a>
        {{SEARCH_MODULE_DOWNLOADED_INSTALLED}}
    </div>

    <div class="alert alert-success alert-dismissable" ng-show="startupsuccessMsg">
        <a class="close" data-dismiss="alert" aria-label="close">×</a>
        {{startupsuccessMsg}}
    </div>

    <div ng-show="startuperrorMsg">
        <div class="alert alert-success alert-dismissable" ng-show="uplodedsuccessMsg">
            <a class="close" data-dismiss="alert" aria-label="close">×</a>
            {{uplodedsuccessMsg}}
        </div>
        <div class="alert alert-danger alert-dismissable" ng-show="startuperrorMsg">
            <a class="close" data-dismiss="alert" aria-label="close">×</a>
            {{startuperrorMsg}}
        </div>
    </div>

    <div class="alert alert-danger alert-dismissable" ng-show="uploadederrorMsg">
        <a class="close" data-dismiss="alert" aria-label="close">×</a>
        {{uploadederrorMsg}}
    </div>

    <div class="alert alert-danger alert-dismissable" ng-show="downloadErrorMsg">
        <a class="close" data-dismiss="alert" aria-label="close">×</a>
        {{downloadErrorMsg}}
    </div>

    <!--    Module Upgrade Notifications-->
    <div class="row col-12" ng-show="requestModuleViewDetails">
        <div class="panel-body" style="width: 100%;">
            <h2> Module Name : {{ModuleViewData.display}} </h2>
            <div style="padding-bottom: 10px;">
                <button ng-click="stopConfirmationShow(ModuleViewData.packageName,ModuleViewData.uuid, ModuleViewData.display)"
                        ng-if="ModuleViewData.started == true" style="width: 100px;"><img src="img/stop-new-1.png"/>Stop
                </button>
                <button ng-click="StartModule(ModuleViewData.uuid,'MODULEDETAILS')"
                        ng-if="ModuleViewData.started != true" style="width: 100px;"><img src="img/start-new-1.png"/>Start
                </button>
                <button ng-click="checkModuleUpdate(ModuleViewData.uuid,ModuleViewData.packageName, ModuleViewData.version)">
                    <i class="icon-repeat"> </i> Check for Updates
                </button>
            </div>
            <table class="layout display responsive-table">
                <tbody>
                <tr>
                    <td valign="top"><b>Module Name</b></td>
                    <td valign="top">{{ModuleViewData.name}}</td>
                </tr>
                <tr>
                    <td valign="top"><b>Display Name</b></td>
                    <td valign="top">{{ModuleViewData.display}}</td>
                </tr>
                <tr>
                    <td valign="top"><b>Module Description</b></td>
                    <td valign="top">{{ModuleViewData.description}}</td>
                </tr>
                <tr>
                    <td valign="top"><b>Author Name</b></td>
                    <td valign="top">{{ModuleViewData.author}}</td>
                </tr>
                <tr>
                    <td valign="top"><b>Module Version</b></td>
                    <td valign="top">{{ModuleViewData.version}}</td>
                </tr>
                <tr>
                    <td valign="top"><b>Current Status</b></td>
                    <td valign="top">{{ModuleViewData.started}}</td>
                </tr>
                <tr>
                    <td valign="top"><b>Required OpenMRS Version</b></td>
                    <td valign="top">{{ModuleViewData.requireOpenmrsVersion}}</td>
                </tr>
                </tbody>
            </table>

            <h2> Required Modules</h2>
            <div class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="module in moduleViewRequiredModules.requiredModules">
                        <img src="img/running-module.png" ng-if="module.isStarted == true" height="20"
                            style="top: 5px;left: auto; margin-right:10px;"/>
                        <img src="img/stopped-module.png" ng-if="module.isStarted != true" height="20"
                            style="top: 5px;left: auto; margin-right:10px;"/>      
                        <a href="#/module-show/{{module.uuid}} "> {{module.display}}</a>
                        <div style="float:right;" ng-if="module.isInstalled == true">
                            <span class="badge ">v {{module.version}}</span>
                        </div>
                        <div style="float:right;" ng-if="module.isInstalled == false">
                            <span class="badge badge-danger">Not Installed</span>
                        </div>
                    </li>
                    <div class="alert alert-info" ng-if="moduleViewRequiredModules.requiredModules.length <= 0">
                        There are no required modules.
                    </div>
                </ul>
            </div>

            <h2> Aware of Modules (Optional Required Modules) </h2>
            <div class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="module in moduleViewAwareOfModules.awareModules">
                        <img src="img/running-module.png" ng-if="module.isStarted == true" height="20"
                            style="top: 5px;left: auto; margin-right:10px;"/>
                        <img src="img/stopped-module.png" ng-if="module.isStarted != true" height="20"
                            style="top: 5px;left: auto; margin-right:10px;"/>  
                        <a href="#/module-show/{{module.uuid}} ">{{module.display}}</a>
                        <div style="float:right;" ng-if="module.isInstalled == true">
                            <span class="badge ">v {{module.version}}</span>
                        </div>
                        <div style="float:right;" ng-if="module.isInstalled == false">
                            <span class="badge badge-danger">Not Installed</span>
                        </div>
                    </li>
                    <div class="alert alert-info" ng-if="moduleViewAwareOfModules.awareModules.length <= 0">
                        There are no aware of modules.
                    </div>
                </ul>
            </div>

            <h2> Dependent Modules on {{ModuleViewData.name}}</h2>
            <div class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="module in moduleViewDependentModules.dependentModules">
                        <img src="img/running-module.png" ng-if="module.isStarted == true" height="20"
                            style="top: 5px;left: auto; margin-right:10px;"/>
                        <img src="img/stopped-module.png" ng-if="module.isStarted != true" height="20"
                            style="top: 5px;left: auto; margin-right:10px;"/>  
                        <a href="#/module-show/{{module.uuid}} ">{{module.display}}</a>
                        <div style="float:right;" ng-if="module.isInstalled == true">
                            <span class="badge ">v {{module.version}}</span>  
                        </div>
                        <div style="float:right;" ng-if="module.isInstalled == false">
                            <span class="badge badge-danger">Not Installed</span>
                        </div>
                    </li>
                    <div class="alert alert-info" ng-if="moduleViewDependentModules.dependentModules.length <= 0">
                        There are no modules which depend on this module.
                    </div>
                </ul>
            </div>

        </div>
    </div>

    <!-- If Module details not found in server-->

    <div class="alert alert-danger" ng-hide="requestModuleViewDetails || onlineDataFound" style="text-align:center;">
        <p style="padding-bottom:15px;">
            Could not get this module details from this Server! <br/>
            Goto <a href="https://addons.openmrs.org/"> https://addons.openmrs.org/ </a> to get more about this module.
            <br/>
        </p>
        <button ng-click="getNotInstalledModuleDetailsFromOnline()"><i class="icon-search"> </i> Get details from
            Online!
        </button>
    </div>

    <div class="row col-12" ng-if="onlineDataFound!=false">
        <div class="panel-body" style="width:100%;">
            <div class="" ng-if="onlineDataFound==true">

                <div style="width:100%;" ng-show="nonInstalledModuleDetails">

                    <div class="alert alert-warning" style="text-align:center;">
                        You haven't installed this module on your system.
                        <a href="#/view-search-module-details/{{nonInstalledModuleDetails.uid}}">
                            <button style="margin-left:15px;"><i class="icon-upload"> </i> Install this module</button>
                        </a>
                    </div>

                    <h4> Module Name : {{nonInstalledModuleDetails.name}}</h4>
                    <table class="layout display responsive-table">
                        <tbody>
                        <tr>
                            <td style="width: 20%;"> Description</td>
                            <td> {{nonInstalledModuleDetails.description}}</td>
                        </tr>
                        <tr>
                            <td> Latest Version</td>
                            <td> {{nonInstalledModuleDetails.latestVersion}}</td>
                        </tr>
                        <tr>
                            <td> Module Hosted URL</td>
                            <td><a href="{{nonInstalledModuleDetails.hostedUrl}}" target="_blank">{{nonInstalledModuleDetails.hostedUrl}} </a>
                            </td>
                        </tr>
                        <tr>
                            <td> Required OpenMRS Version</td>
                            <td> {{nonInstalledModuleDetails.versions[0].requireOpenmrsVersion}}</td>
                        </tr>
                        </tbody>
                    </table>

                    <h4> Module Maintainers </h4>
                    <li class="list-group-item" ng-repeat="owners in nonInstalledModuleDetails.maintainers">
                        <i class="icon-user "> </i> {{owners.name}}
                    </li>

                    <h4> Required Modules </h4>
                    <li class="list-group-item"
                        ng-repeat="requireModules in nonInstalledModuleDetails.versions[0].requireModules">
                        <i class="icon-exclamation-sign"> </i> <a href="#/module-show/{{requireModules.module}} ">{{requireModules.module}}</a>
                    </li>
                    <div class="alert alert-info" ng-hide="nonInstalledModuleDetails.versions[0].requireModules.length">
                        There are no required modules.
                    </div>
                </div>
                <div class="center-block" style="text-align: center; padding-top: 15px;">
                    Module Information from <a href="https://addons.openmrs.org/"> https://addons.openmrs.org/ </a>
                </div>
            </div>

            <div class="alert alert-danger text-center" ng-if="onlineDataFound==false">
                Could not get details from Online server.
            </div>


        </div>
    </div>
    <!-- //If Module details not found in server-->

</div>


<div class="modal fade" id="stopConfirmation" aria-labelledby="stopConfirmation" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Do you want to stop {{stopConfirmModuleData.moduleDisplayName}}?</h5>
            </div>
            <form>
                <div class="modal-body">
                    <div class="row" ng-hide="stopConfirmModuleData.requiredModules">
                        <div class="col-md-12 col-xs-12 text-center center-block">
                            <img src="img/inprogress.gif">
                        </div>
                    </div>
                    <p>
                        <b ng-if="stopConfirmModuleData.requiredModules.length>0">It will stop the following modules
                            which are currently loaded.</b>
                        <b ng-if="stopConfirmModuleData.requiredModules.length<1">There are no modules that depend on
                            this. So stopping it will not affect any module.</b>
                    </p>

                    <ul class="list-group" ng-show="stopConfirmModuleData">
                        <li class="list-group-item"
                            ng-repeat="requiredModules in stopConfirmModuleData.requiredModules"><i
                                class="icon-exclamation-sign"> </i> {{requiredModules}}
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" ng-click="StopModule(stopConfirmModuleData.uuid,'MODULEDETAILS')"
                            data-dismiss="modal"><i class="icon-ok"> </i> Yes
                    </button>
                    <button class=" btn-secondary" data-dismiss="modal"><i class="icon-remove"> </i> No</button>
                </div>
            </form>
        </div>
    </div>
</div>

<ng-include src="'js/common/loadingPopUp.html'"></ng-include>

<style>
    button {
        postion: relative;
        text-align: right;
        vertical-align: middle;
    }

    button img {
        position: relative;
        padding-right: 7px;
        vertical-align: middle;
        display: inline-block;

    }
</style>
