
<div class="container" data-ng-init="getEncounterTypes()"> 
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h2>Encounter Type Management</h2>
        </div>
    </div>


    <div class="panel panel-primary">
        <div class="panel-heading">Current Encounter Types</div>
        <div class="panel-body">
         
<!--    Notifications-->
    <div class="alert alert-success alert-dismissable" ng-if="savedEncounterType[0]==1">
        <a class="close" data-dismiss="alert" aria-label="close">×</a>
        {{savedEncounterType[1]}}
    </div>

    <div class="alert alert-danger alert-dismissable" ng-if="savedEncounterType[0]==0">
        <a class="close" data-dismiss="alert" aria-label="close">×</a>
        {{savedEncounterType[1]}}
    </div>
<!--    // Notifications-->
            
            <div style="padding-bottom: 10px;">
<!--                <button data-toggle="modal" data-target="#addEncounterModal">Add Encounter Types</button>-->
               <button ng-click="openEncounterTypeModal()">Add Encounter Types</button>
            </div>
 
            
            
            <form style="margin-bottom: 15px;">
            <input type="text" name="search" placeholder="Search Encounter Type.."  ng-model="searchText" ng-change="searchEncounterTypes()" style="width:97%;"/>
            </form>

            <table ng-if="encounterTypeFound==true">
                    <tr>
                        <th> # </th>
                        <th> name </th>
                        <th> Description </th>
                        <th colspan="3"> Action</th>
                    </tr>
                    <tbody>
                    <tr ng-repeat="encounterType in searchedEncounterTypeData">
                        <td valign="top" style="max-width: 20px;">
				            <img src="img/running-module.png" ng-if="encounterType.retired != true" height="20" style="top: 5px;left: auto;" /> 
				            <img src="img/stopped-module.png" ng-if="encounterType.retired == true" height="20" style="top: 5px;left: auto;"/> 
				        </td>
                        <td> <b>{{encounterType.display}} </b></td>
                        <td> {{encounterType.description}} </td>
                        <td style="min-width:100px;"> <button ng-click="encounterTypeEdit(encounterType.uuid)"><i class="icon-edit"></i>Edit</button> </td>
                        
                        
                        <td style="min-width:140px;"> 
                            <button ng-click="encounterTypeRetire(encounterType.uuid,'true')" ng-if="encounterType.retired==false"><i class="icon-external-link"></i>Retire</button> 
                            <button ng-click="encounterTypeRetire(encounterType.uuid,'false')" ng-if="encounterType.retired==true"><i class="icon-retweet"></i>Unretire</button> 
                            
                        </td>
                        <td> <button ng-click="encounterTypeDelete(encounterType.uuid)"><i class="icon-trash"></i></button> </td>
                    </tr>
                    </tbody>
            </table>   

            <div class="alert alert-danger text-center" ng-if="encounterTypeFound==false">
                No Encounter Types found.
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="addEncounterModal" role="dialog" data-ng-init="getPrivilege()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Encounter Type</h5>
      </div>
    <form>
      <div class="modal-body">
           
              
    <div class="panel panel-default">
        <div class="panel-heading">Current Encounter Types</div>
        <div class="panel-body">
            
        <!--          For Edit Encounter Type      -->
        <input hidden="" type="text" id="encounterTypeName" ng-model="encounterTypeUuid">
          
          <div class="form-group">
            <label for="name">Name</label> 
            <input type="text" id="encounterTypeName" ng-model="encounterTypeName">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
              <textarea id="encounterTypeDescription" ng-model="encounterTypeDescription"> </textarea>
          </div>
            <div class="form-group">
            <label for="description">Edit privilege</label>
              <select class="form-control" id="editPrivilege">
                <option ng-repeat="privilege in PrivilegeData" value="privilege.uuid">{{privilege.display}}</option>
              </select>
          </div>
         
            <div class="form-group">
            <label for="description">View privilege</label>
              <select class="form-control" id="viewPrivilege">
                <option ng-repeat="privilege in PrivilegeData" value="privilege.uuid">{{privilege.display}}</option>
              </select>
          </div>
       
          </div>
              </div>
          </div>
          
    
      <div class="modal-footer" >
        <button type="button" class="btn btn-secondary" ng-click="saveEncounterType()" ng-if="requestEditEncounterType==false">Save changes</button>
        <button type="button" class="btn btn-secondary" ng-click="updateEncounterType(encounterTypeUuid)" ng-if="requestEditEncounterType==true">Update changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </form>
    </div>
  </div>
</div>



 