
<div class="container"> 
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h2>Search Encounters</h2>
        </div>
    </div>


    <div class="panel panel-primary">
        <div class="panel-heading">Search with Patient Identifier or name</div>
        <div class="panel-body">
            
            <div style="padding-bottom: 10px;">
                <a href="#/add-encounter"><button>Add Encounter</button></a>
                <a href="#/manage-encounter-types"><button>Manage Encounter Types</button></a>
                <a href="#/manage-encounter-roles"><button>Manage Encounter Roles</button></a>
            </div>
            
            <form style="margin-bottom: 15px;">
            <input type="text" name="search" placeholder="Search Encounters.."  ng-model="searchText" ng-change="change()"/>
            </form>

            <table ng-if="encounterFound==true">
                    <tr>
                        <th> Patient Name </th>
                        <th> Encounter Type </th>
                        <th> Form </th>
                        <th> Provider </th>
                        <th> Location </th>
                        <th> Encounter Date </th>
                    </tr>
                    <tbody>
                    <tr ng-repeat="encounter in searchedEncounterData">
                        <td> {{encounter.patient.display}} </td>
                        <td> {{encounter.encounterType.display}} </td>
                        <td> {{encounter.form.display}} </td>
                        <td> <li ne-repeat="provider in encounter.encounterProviders"> {{provider.display}}  </li></td>
                        <td> {{encounter.location.display}} </td>
                        <td> {{getDateFormat(encounter.encounterDatetime)|date:'yyyy-MM-dd'}} </td>
                    </tr>
                    </tbody>
            </table>   

            <div class="alert alert-info text-center" ng-if="encounterFound==false">
                No Encounters found.
            </div>

        </div>
    </div>
    
</div>
