


<div class="container"> 
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h2>Add or Upgrade Module</h2>
        </div>
    </div>




    <div class="alert alert-success alert-dismissable" ng-show="startupsuccessMsg">
        <a class="close" data-dismiss="alert" aria-label="close">×</a>
        {{startupsuccessMsg}}
    </div>

    <div ng-show="startuperrorMsg">
        <div class="alert alert-success alert-dismissable" ng-show="uplodedsuccessMsg">
            <a class="close" data-dismiss="alert" aria-label="close">×</a>
            {{uplodedsuccessMsg}}
        </div>
        <div class="alert alert-danger alert-dismissable" ng-show="startuperrorMsg">
            <a class="close" data-dismiss="alert" aria-label="close">×</a>
            {{startuperrorMsg}}
        </div>
    </div>



    <div class="alert alert-danger alert-dismissable" ng-show="uploadederrorMsg">
        <a class="close" data-dismiss="alert" aria-label="close">×</a>
        {{uploadederrorMsg}}
    </div>

    <div class="row" ng-if="isUploading==true">
        <div class="col-md-12 col-xs-12 text-center center-block">
            <h3 style="text-align: center;">Please Wait until upload Finished!</h3>
            <img src="img/inprogress.gif" >
        </div>
    </div>
 

    <div class="panel panel-primary"  ng-hide="startupsuccessMsg">
        <div class="panel-heading">Select Module to Upload</div>
        <div class="panel-body">
            <form name="myForm" enctype="multipart/form-data">
                <table class="display" style="border: 0px; widtd: 80%;">
                    <tr style="border: 0px;">
                        <th style="border: 0px;"> 
                             <input type="file" ngf-select ng-model="myFile" file-model="myFile" name="file" file="file"    
                             accept=".omod" ngf-max-size="10MB" required
                             ngf-model-invalid="errorFile" style="border: 0px;">
                        </th>
                        <th ng-show="myFile" style="border: 0px;">
                            <button ng-click="myFile = null" ng-show="myFile">Remove</button>
                        </th>
                    </tr>
                </table>
            </form>
        </div>
        <div class="panel-footer text-center center-block">
             <button ng-disabled="!myForm.$valid" ng-click="uploadFile()" class="center-block">Upload Module</button>
        </div>
    </div>
     

<!--             <form name="myForm" enctype="multipart/form-data" ng-hide="startupsuccessMsg">
                <table class="display" style="border: 0px; widtd: 80%;">
                    <tr>
                        <td> 
                             <input type="file" ngf-select ng-model="myFile" file-model="myFile" name="file" file="file"    
                             accept=".omod" ngf-max-size="10MB" required
                             ngf-model-invalid="errorFile" style="border: 0px;">
                        </td>
                        <td ng-show="myFile" style="border-left: 0px;">
                            <button ng-click="myFile = null" ng-show="myFile">Remove</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">     
                            <button ng-disabled="!myForm.$valid" ng-click="uploadFile()">Upload Module</button> 
                        </td>
                    </tr>
                </table>
            </form> -->

    <div class="panel panel-primary" ng-show="uplodedsuccessMsg">
        <div class="panel-heading">
            <b>Module Details : {{responseJsonData["org.openmrs.module.Module"].name}}  </b> 
        </div>
        <div class="panel-body">

       <div class="alert alert-danger alert-dismissable" ng-show="startuperrorMsg" style="margin-bottom: 10px;">
          {{responseJsonData["org.openmrs.module.Module"].startupErrorMessage}} 
      </div>

        <table class="">
            <tbody>
                <tr>
                    <td> Module Name </td>
                    <td> {{responseJsonData["org.openmrs.module.Module"].name}} </td>
                </tr>
                <tr>
                    <td> Module ID </td>
                    <td> {{responseJsonData["org.openmrs.module.Module"].moduleId}} </td>
                </tr>
                <tr>
                    <td> Status</td>
                    <td ng-if="startupsuccessMsg"> 
                        Running
                    </td>
                    <td ng-if="startuperrorMsg"> 
                       Stopped
                    </td>
                </tr>

                <tr>
                    <td> Description </td>
                    <td> {{responseJsonData["org.openmrs.module.Module"].description}} </td>
                </tr>
                <tr>
                    <td> Author </td>
                    <td> {{responseJsonData["org.openmrs.module.Module"].author}} </td>
                </tr>
                <tr>
                    <td> Version </td>
                    <td> {{responseJsonData["org.openmrs.module.Module"].version}} </td>
                </tr>

                <tr>
                    <td> Module Uploaded Patd </td>
                    <td> {{responseJsonData["org.openmrs.module.Module"].file}} </td>
                </tr>
            </tbody>
        </table>


        </div>
        <div class="panel-footer text-center center-block">
            <a href='#/module-show/{{responseJsonData["org.openmrs.module.Module"].moduleId}}'>
             <button class="center-block">More module's details</button>
             </a>
        </div>
    </div>
 

</div>

<!--  
<div class="div-row" ng-show="errorMsg">
    <div class="table-title" style="widtd: 80%;"> <h2>{{errorMsg}} </h2> </div>
</div>
 
<form  class="div-row" name="myForm" enctype="multipart/form-data" ng-hide="successMsg">
 
      <div class="table-title" style="widtd: 80%;"> Select Module to Upload </div>

      <table class="layout display" style="border: 0px; widtd: 80%;">
         <tr class="even">
             <td> 
               <input type="file" ngf-select ng-model="myFile" file-model="myFile" name="file" file="file"     
               accept=".omod" ngf-max-size="10MB" required
               ngf-model-invalid="errorFile" style="border: 0px;">

              </td>
              <td ng-show="myFile" style="border-left: 0px;">
                  <button ng-click="myFile = null" ng-show="myFile">Remove</button>
              </td>
          </tr>

          <tr>
            <td colspan="2">     
            <button ng-disabled="!myForm.$valid" ng-click="uploadFile()">Upload Module</button> 
              </td>
          </tr>
      -->
       <!--    <tr ng-show="myFile.result">
            <td colspan="2">
                <span ng-show="myFile.result">Upload Successful</span>
            </td>
          </tr>
          <tr ng-show="errorMsg">
            <td colspan="2">
                <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
            </td>
        </tr> -->

<!--       </table>
</form>
-->


<!-- <div class="div-row" ng-show="successMsg">
    <div class="table-title" style="widtd: 80%;"> <h2>{{successMsg}} </h2>  </div>
</div>
-->



   <!--    <span class="progress" ng-show="myFile.progress >= 0">
        <div style="widtd:{{myFile.progress}}%" 
        ng-bind="myFile.progress + '%'"></div>
    </span> -->
    

<!-- 
</form> -->



<!-- +++++++++++++++++++++ -->

<!-- <div  >
    <input type="file" file-model="myFile"/>
    <button ng-click="uploadFile()">upload me</button>
</div>

<div> POST DATA : <br/>
   <div class="err" ng-show="PostDataResponse" style="max-widtd: 500px; margin: 0px auto;">{{PostDataResponse}}</div>

</div>
<br/>
<div> RESPONSE : <br/>
   <div class="err" ng-show="ResponseDetails" style="max-widtd: 500px; margin: 0px auto;">{{ResponseDetails}}</div>

</div>

<div style="widtd: 700px; margin: 0px auto;">


</div> -->